In [72]:
# import dependencies 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')
pd.set_option('display.height', 1000)
pd.set_option('display.max_rows', 100)
pd.set_option('display.max_columns', 100)
pd.set_option('display.width', 1000)

# display multiple print results on one line
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

# expands .describe with more info about the data set
import pandas_profiling

# sqlalchemy dependencies
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine
from sqlalchemy import func
from sqlalchemy import inspect

from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Float, Text

# PyMySQL 
import pymysql
pymysql.install_as_MySQLdb()

# flask 
from flask import Flask, jsonify

height has been deprecated.

In [2]:
# Use SQLAlchemy create_engine to connect to database
engine = create_engine("sqlite:///bbb.sqlite")
conn = engine.connect()

In [4]:
# use SQLAlchemy automap_base() to reflect tables into classes and save references
# called sample_names, otu_des, sample_meta, frequency
Base = automap_base()

In [5]:
# use the base class to reflect the database tables
Base.prepare(engine, reflect=True)

In [6]:
Base.classes.keys()

['otu', 'samples', 'samples_metadata']

In [10]:
# assign classes to variables
sample_names = Base.classes.samples
otu_des = Base.classes.otu
sample_meta = Base.classes.samples_metadata

In [11]:
# create a session
# a session means that you want to do something to your data
session = Session(engine)

In [33]:
inspector = inspect(engine)

In [35]:
# get table information
print (inspector.get_table_names())

['otu', 'samples', 'samples_metadata']

In [48]:
# get col names for samples and stores in a tuple within a list
sample_name_col = inspector.get_columns('samples')

In [61]:
# prints list of sample names
sample_names_list = [item["name"] for item in sample_name_col]
del sample_names_list[0]

In [63]:
# prints list of sample_names
# sample_names_list

In [68]:
# return list of OTU descriptions
otu_results = session.query(otu_des.lowest_taxonomic_unit_found).all()

# stores otu results as a list
otu_results_list = list(np.ravel(otu_results))

In [78]:
# read Belly_Button_Biodiversity_Metadata
bbb_meta_df = pd.read_csv('Belly_Button_Biodiversity_Metadata.csv')

In [79]:
bbb_meta_df.head()
bbb_meta_df.shape

   SAMPLEID                      EVENT              ETHNICITY GENDER   AGE  WFREQ BBTYPE         LOCATION COUNTRY012 ZIP012 COUNTRY1319 ZIP1319  DOG  CAT  IMPSURFACE013     NPP013  MMAXTEMP013  PFC013 IMPSURFACE1319  NPP1319  MMAXTEMP1319  PFC1319
0       940  BellyButtonsScienceOnline              Caucasian      F  24.0    2.0      I      Beaufort/NC        usa  22306         usa   22306   no   no         8852.0  37.172222         54.5     NaN              1      NaN     33.990002     25.5
1       941                        NaN  Caucasian/Midleastern      F  34.0    1.0      I       Chicago/IL        NaN    NaN         NaN     NaN  NaN  NaN            NaN        NaN          NaN     NaN            NaN      NaN           NaN      NaN
2       943  BellyButtonsScienceOnline              Caucasian      F  49.0    1.0      I         Omaha/NE        NaN    NaN         NaN     NaN  NaN  NaN            NaN        NaN          NaN     NaN            NaN      NaN           NaN      NaN
3       944  BellyButtonsScienceOnline               European      M  44.0    1.0      I      NewHaven/CT        usa   7079         usa    8822   no  yes            NaN  35.816666         16.0     NaN              0   6567.0     32.403332     28.5
4       945  BellyButtonsScienceOnline              Caucasian      F  48.0    1.0      I  Philidelphia/PA        usa  84404         usa   96025   no   no            NaN  37.783333          4.0     NaN              0   5613.0     33.634445     24.0

(153, 22)

In [88]:
# create new bbb meta_df with the following columns:
# AGE, BBTYPE, ETHNICITY, GENDER, LOCATION, SAMPLEID

bbb_meta_clean = bbb_meta_df[['AGE', 'BBTYPE', 'ETHNICITY',
                             'GENDER', 'LOCATION', 'SAMPLEID']]
bbb_meta_clean.head()
bbb_meta_clean.shape

    AGE BBTYPE              ETHNICITY GENDER         LOCATION  SAMPLEID
0  24.0      I              Caucasian      F      Beaufort/NC       940
1  34.0      I  Caucasian/Midleastern      F       Chicago/IL       941
2  49.0      I              Caucasian      F         Omaha/NE       943
3  44.0      I               European      M      NewHaven/CT       944
4  48.0      I              Caucasian      F  Philidelphia/PA       945

(153, 6)

In [131]:
bbb_meta_dict = bbb_meta_clean.to_dict(orient='records')

In [132]:
bbb_meta_dict

[{'AGE': 24.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'F',
  'LOCATION': 'Beaufort/NC',
  'SAMPLEID': 940},
 {'AGE': 34.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian/Midleastern',
  'GENDER': 'F',
  'LOCATION': 'Chicago/IL',
  'SAMPLEID': 941},
 {'AGE': 49.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'F',
  'LOCATION': 'Omaha/NE',
  'SAMPLEID': 943},
 {'AGE': 44.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'European',
  'GENDER': 'M',
  'LOCATION': 'NewHaven/CT',
  'SAMPLEID': 944},
 {'AGE': 48.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'F',
  'LOCATION': 'Philidelphia/PA',
  'SAMPLEID': 945},
 {'AGE': 42.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'F',
  'LOCATION': 'Deerfield/MA',
  'SAMPLEID': 946},
 {'AGE': 49.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'M',
  'LOCATION': 'ChapelHill/NC',
  'SAMPLEID': 947},
 {'AGE': 20.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'M',
  'LOCATION': 'ChapelHill/NC',
  'SAMPLEID': 948},
 {'AGE': 51.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'F',
  'LOCATION': 'Durham/NC',
  'SAMPLEID': 949},
 {'AGE': 51.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'M',
  'LOCATION': 'NewYork/NY',
  'SAMPLEID': 950},
 {'AGE': 51.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'F',
  'LOCATION': 'Seattle/WA',
  'SAMPLEID': 952},
 {'AGE': 38.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'F',
  'LOCATION': 'Chicago/IL',
  'SAMPLEID': 953},
 {'AGE': 26.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'M',
  'LOCATION': 'NewYork/NY',
  'SAMPLEID': 954},
 {'AGE': 27.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'F',
  'LOCATION': 'NewYork/NY',
  'SAMPLEID': 955},
 {'AGE': 16.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'M',
  'LOCATION': 'Jacksonville/NC',
  'SAMPLEID': 956},
 {'AGE': 43.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'M',
  'LOCATION': 'Wilmington/NC',
  'SAMPLEID': 958},
 {'AGE': 40.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'M',
  'LOCATION': 'Carrboro/NC',
  'SAMPLEID': 959},
 {'AGE': 48.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'M',
  'LOCATION': 'Lexington/NC',
  'SAMPLEID': 960},
 {'AGE': 35.0,
  'BBTYPE': 'i',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'F',
  'LOCATION': 'Edmonton,AB',
  'SAMPLEID': 961},
 {'AGE': 56.0,
  'BBTYPE': 'i',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'F',
  'LOCATION': 'Washington,DC',
  'SAMPLEID': 962},
 {'AGE': 33.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'F',
  'LOCATION': 'Ithaca/NY',
  'SAMPLEID': 963},
 {'AGE': 43.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'F',
  'LOCATION': 'UK/London',
  'SAMPLEID': 964},
 {'AGE': 56.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'M',
  'LOCATION': 'Needham/MA',
  'SAMPLEID': 966},
 {'AGE': 43.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian/Jewish',
  'GENDER': 'F',
  'LOCATION': 'ChapelHill/NC',
  'SAMPLEID': 967},
 {'AGE': 38.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'F',
  'LOCATION': 'St.Louis/MI',
  'SAMPLEID': 968},
 {'AGE': 31.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian/Asian',
  'GENDER': 'F',
  'LOCATION': 'ChevyChase/MD',
  'SAMPLEID': 969},
 {'AGE': 42.0,
  'BBTYPE': 'i',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'F',
  'LOCATION': 'SanDiego/CA',
  'SAMPLEID': 970},
 {'AGE': 36.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Asian(South)',
  'GENDER': 'M',
  'LOCATION': 'SantaBarbara/CA',
  'SAMPLEID': 971},
 {'AGE': 31.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'F',
  'LOCATION': 'Charlotte/NC',
  'SAMPLEID': 972},
 {'AGE': 4.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'F',
  'LOCATION': 'Charlotte/NC',
  'SAMPLEID': 973},
 {'AGE': 57.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'F',
  'LOCATION': 'Raleigh/NC',
  'SAMPLEID': 974},
 {'AGE': 60.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'F',
  'LOCATION': 'NewCanaan/CT',
  'SAMPLEID': 975},
 {'AGE': 21.0,
  'BBTYPE': nan,
  'ETHNICITY': 'Hispanic',
  'GENDER': 'F',
  'LOCATION': 'Durham/NC',
  'SAMPLEID': 978},
 {'AGE': 34.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'M',
  'LOCATION': nan,
  'SAMPLEID': 1233},
 {'AGE': nan,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'F',
  'LOCATION': nan,
  'SAMPLEID': 1234},
 {'AGE': 43.0,
  'BBTYPE': nan,
  'ETHNICITY': 'Caucasian',
  'GENDER': 'F',
  'LOCATION': nan,
  'SAMPLEID': 1235},
 {'AGE': 54.0,
  'BBTYPE': nan,
  'ETHNICITY': 'Caucasian',
  'GENDER': 'F',
  'LOCATION': nan,
  'SAMPLEID': 1236},
 {'AGE': 9.0,
  'BBTYPE': 'i',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'F',
  'LOCATION': 'ChapelHill,NC',
  'SAMPLEID': 1237},
 {'AGE': 41.0,
  'BBTYPE': 'i',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'F',
  'LOCATION': 'Raleigh,NC',
  'SAMPLEID': 1238},
 {'AGE': 44.0,
  'BBTYPE': 'i',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'F',
  'LOCATION': 'Raleigh,NC',
  'SAMPLEID': 1242},
 {'AGE': 49.0,
  'BBTYPE': 'i',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'M',
  'LOCATION': 'Raleigh,NC',
  'SAMPLEID': 1243},
 {'AGE': 2.0,
  'BBTYPE': nan,
  'ETHNICITY': 'Caucasian',
  'GENDER': 'F',
  'LOCATION': 'Atlanta,GA',
  'SAMPLEID': 1246},
 {'AGE': 24.0,
  'BBTYPE': 'i',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'M',
  'LOCATION': 'Voss,NC',
  'SAMPLEID': 1253},
 {'AGE': 1.0,
  'BBTYPE': 'o',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'F',
  'LOCATION': 'Voss,NC',
  'SAMPLEID': 1254},
 {'AGE': 31.0,
  'BBTYPE': 'i',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'f',
  'LOCATION': 'Smithfield,NC',
  'SAMPLEID': 1258},
 {'AGE': 33.0,
  'BBTYPE': nan,
  'ETHNICITY': 'Caucasian',
  'GENDER': 'm',
  'LOCATION': 'Smithfield,NC',
  'SAMPLEID': 1259},
 {'AGE': 10.0,
  'BBTYPE': nan,
  'ETHNICITY': 'Caucasian',
  'GENDER': 'm',
  'LOCATION': 'Smithfield,NC',
  'SAMPLEID': 1260},
 {'AGE': 46.0,
  'BBTYPE': 'i',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'm',
  'LOCATION': 'Raleigh,NC',
  'SAMPLEID': 1264},
 {'AGE': 10.0,
  'BBTYPE': 'i',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'f',
  'LOCATION': 'Raleigh,NC',
  'SAMPLEID': 1265},
 {'AGE': 60.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'M',
  'LOCATION': nan,
  'SAMPLEID': 1273},
 {'AGE': 18.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'F',
  'LOCATION': nan,
  'SAMPLEID': 1275},
 {'AGE': 34.0,
  'BBTYPE': 'O',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'M',
  'LOCATION': nan,
  'SAMPLEID': 1276},
 {'AGE': 67.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'F',
  'LOCATION': nan,
  'SAMPLEID': 1277},
 {'AGE': 44.0,
  'BBTYPE': 'I',
  'ETHNICITY': nan,
  'GENDER': 'M',
  'LOCATION': nan,
  'SAMPLEID': 1278},
 {'AGE': 60.0,
  'BBTYPE': 'O',
  'ETHNICITY': 'Black',
  'GENDER': 'F',
  'LOCATION': nan,
  'SAMPLEID': 1279},
 {'AGE': 30.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'PacificIslander',
  'GENDER': 'F',
  'LOCATION': nan,
  'SAMPLEID': 1280},
 {'AGE': 55.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'F',
  'LOCATION': nan,
  'SAMPLEID': 1281},
 {'AGE': 53.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'F',
  'LOCATION': nan,
  'SAMPLEID': 1282},
 {'AGE': 48.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'M',
  'LOCATION': nan,
  'SAMPLEID': 1283},
 {'AGE': 30.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'F',
  'LOCATION': nan,
  'SAMPLEID': 1284},
 {'AGE': 42.0,
  'BBTYPE': 'Both',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'M',
  'LOCATION': nan,
  'SAMPLEID': 1285},
 {'AGE': 38.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'M',
  'LOCATION': nan,
  'SAMPLEID': 1286},
 {'AGE': 46.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'M',
  'LOCATION': nan,
  'SAMPLEID': 1287},
 {'AGE': 52.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'F',
  'LOCATION': nan,
  'SAMPLEID': 1288},
 {'AGE': 38.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Black',
  'GENDER': 'F',
  'LOCATION': nan,
  'SAMPLEID': 1289},
 {'AGE': 53.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'F',
  'LOCATION': nan,
  'SAMPLEID': 1290},
 {'AGE': 49.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'F',
  'LOCATION': nan,
  'SAMPLEID': 1291},
 {'AGE': 46.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'M',
  'LOCATION': nan,
  'SAMPLEID': 1292},
 {'AGE': 68.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'F',
  'LOCATION': nan,
  'SAMPLEID': 1293},
 {'AGE': 46.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'F',
  'LOCATION': nan,
  'SAMPLEID': 1294},
 {'AGE': 48.0,
  'BBTYPE': 'Both',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'F',
  'LOCATION': nan,
  'SAMPLEID': 1295},
 {'AGE': 10.0,
  'BBTYPE': 'i',
  'ETHNICITY': 'Black',
  'GENDER': 'f',
  'LOCATION': 'Pinehurst,NC',
  'SAMPLEID': 1296},
 {'AGE': 10.0,
  'BBTYPE': nan,
  'ETHNICITY': 'Caucasion',
  'GENDER': 'f',
  'LOCATION': 'Pinehurst,NC',
  'SAMPLEID': 1297},
 {'AGE': 12.0,
  'BBTYPE': 'i',
  'ETHNICITY': 'White',
  'GENDER': 'm',
  'LOCATION': 'Pinehurst,NC',
  'SAMPLEID': 1298},
 {'AGE': 40.0,
  'BBTYPE': nan,
  'ETHNICITY': 'Black',
  'GENDER': 'f',
  'LOCATION': 'Durham,NC',
  'SAMPLEID': 1308},
 {'AGE': 6.0,
  'BBTYPE': nan,
  'ETHNICITY': 'Black',
  'GENDER': 'f',
  'LOCATION': 'Durham,NC',
  'SAMPLEID': 1309},
 {'AGE': 3.0,
  'BBTYPE': nan,
  'ETHNICITY': 'Black',
  'GENDER': 'm',
  'LOCATION': 'Durham,NC',
  'SAMPLEID': 1310},
 {'AGE': 55.0,
  'BBTYPE': 'o',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'F',
  'LOCATION': 'Cary,NC',
  'SAMPLEID': 1374},
 {'AGE': nan,
  'BBTYPE': 'Unknown',
  'ETHNICITY': nan,
  'GENDER': nan,
  'LOCATION': nan,
  'SAMPLEID': 1415},
 {'AGE': nan,
  'BBTYPE': nan,
  'ETHNICITY': 'Caucasian',
  'GENDER': 'F',
  'LOCATION': 'Sarasota,FL',
  'SAMPLEID': 1439},
 {'AGE': 36.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'F',
  'LOCATION': 'Raleigh,NC',
  'SAMPLEID': 1441},
 {'AGE': 57.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'F',
  'LOCATION': 'Raleigh,NC',
  'SAMPLEID': 1443},
 {'AGE': 33.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'F',
  'LOCATION': 'Shrewsbury,UK',
  'SAMPLEID': 1486},
 {'AGE': 30.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'M',
  'LOCATION': 'Shrewsbury,UK',
  'SAMPLEID': 1487},
 {'AGE': 28.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'F',
  'LOCATION': 'WashingtonDC',
  'SAMPLEID': 1489},
 {'AGE': 27.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'F',
  'LOCATION': 'DurhamNC',
  'SAMPLEID': 1490},
 {'AGE': 24.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'F',
  'LOCATION': 'WashingtonDC',
  'SAMPLEID': 1491},
 {'AGE': 35.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'M',
  'LOCATION': 'Boone,NC',
  'SAMPLEID': 1494},
 {'AGE': 57.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'F',
  'LOCATION': 'Raleigh,NC',
  'SAMPLEID': 1495},
 {'AGE': 35.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'M',
  'LOCATION': 'Raleigh,NC',
  'SAMPLEID': 1497},
 {'AGE': 33.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'M',
  'LOCATION': 'Waynesville,NC',
  'SAMPLEID': 1499},
 {'AGE': 32.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'M',
  'LOCATION': 'Raleigh,NC',
  'SAMPLEID': 1500},
 {'AGE': 38.0,
  'BBTYPE': 'I',
  'ETHNICITY': nan,
  'GENDER': 'M',
  'LOCATION': 'FallsChurch,VA',
  'SAMPLEID': 1501},
 {'AGE': 27.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'F',
  'LOCATION': 'Boone,NC',
  'SAMPLEID': 1502},
 {'AGE': 32.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'F',
  'LOCATION': 'Raleigh,NC',
  'SAMPLEID': 1503},
 {'AGE': 27.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'F',
  'LOCATION': 'Raleigh,NC',
  'SAMPLEID': 1504},
 {'AGE': 26.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'F',
  'LOCATION': 'Durham,NC',
  'SAMPLEID': 1505},
 {'AGE': 21.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'F',
  'LOCATION': 'Raleigh,NC',
  'SAMPLEID': 1506},
 {'AGE': 46.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'F',
  'LOCATION': 'NC',
  'SAMPLEID': 1507},
 {'AGE': 60.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'M',
  'LOCATION': 'NC',
  'SAMPLEID': 1508},
 {'AGE': 21.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Black',
  'GENDER': 'F',
  'LOCATION': 'NC',
  'SAMPLEID': 1510},
 {'AGE': 46.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'F',
  'LOCATION': 'NC',
  'SAMPLEID': 1511},
 {'AGE': 55.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'M',
  'LOCATION': 'NC',
  'SAMPLEID': 1512},
 {'AGE': 15.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'M',
  'LOCATION': 'NC',
  'SAMPLEID': 1513},
 {'AGE': 3.0,
  'BBTYPE': 'o',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'F',
  'LOCATION': 'NC',
  'SAMPLEID': 1514},
 {'AGE': 51.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'F',
  'LOCATION': 'NC',
  'SAMPLEID': 1515},
 {'AGE': 57.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'M',
  'LOCATION': 'NC',
  'SAMPLEID': 1516},
 {'AGE': 27.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'M',
  'LOCATION': 'NC',
  'SAMPLEID': 1517},
 {'AGE': 25.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'F',
  'LOCATION': 'GA',
  'SAMPLEID': 1518},
 {'AGE': 25.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'F',
  'LOCATION': 'NC',
  'SAMPLEID': 1519},
 {'AGE': 10.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'F',
  'LOCATION': 'NC',
  'SAMPLEID': 1521},
 {'AGE': 14.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'M',
  'LOCATION': 'NC',
  'SAMPLEID': 1524},
 {'AGE': 6.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'M',
  'LOCATION': 'NC',
  'SAMPLEID': 1526},
 {'AGE': 34.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'F',
  'LOCATION': 'NC',
  'SAMPLEID': 1527},
 {'AGE': 54.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'F',
  'LOCATION': 'NC',
  'SAMPLEID': 1530},
 {'AGE': 39.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'M',
  'LOCATION': 'NC',
  'SAMPLEID': 1531},
 {'AGE': 38.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'F',
  'LOCATION': 'NC',
  'SAMPLEID': 1532},
 {'AGE': 37.0,
  'BBTYPE': 'o',
  'ETHNICITY': 'Black',
  'GENDER': 'M',
  'LOCATION': 'NC',
  'SAMPLEID': 1533},
 {'AGE': 42.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'F',
  'LOCATION': 'NC',
  'SAMPLEID': 1534},
 {'AGE': 35.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'M',
  'LOCATION': 'NC',
  'SAMPLEID': 1535},
 {'AGE': 26.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'F',
  'LOCATION': 'NC',
  'SAMPLEID': 1536},
 {'AGE': 28.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'M',
  'LOCATION': 'NC',
  'SAMPLEID': 1537},
 {'AGE': 39.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'F',
  'LOCATION': 'NC',
  'SAMPLEID': 1539},
 {'AGE': 30.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'M',
  'LOCATION': 'NC',
  'SAMPLEID': 1540},
 {'AGE': 26.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'F',
  'LOCATION': 'NC',
  'SAMPLEID': 1541},
 {'AGE': 36.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'M',
  'LOCATION': 'NC',
  'SAMPLEID': 1542},
 {'AGE': 34.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'F',
  'LOCATION': 'NC',
  'SAMPLEID': 1543},
 {'AGE': 33.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'F',
  'LOCATION': 'NC',
  'SAMPLEID': 1544},
 {'AGE': 39.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'F',
  'LOCATION': 'NC',
  'SAMPLEID': 1545},
 {'AGE': 34.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'M',
  'LOCATION': 'NC',
  'SAMPLEID': 1546},
 {'AGE': 38.0,
  'BBTYPE': 'I',
  'ETHNICITY': nan,
  'GENDER': 'M',
  'LOCATION': 'NC',
  'SAMPLEID': 1547},
 {'AGE': 6.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'M',
  'LOCATION': 'NC',
  'SAMPLEID': 1548},
 {'AGE': 37.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'F',
  'LOCATION': 'NC',
  'SAMPLEID': 1549},
 {'AGE': 29.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'F',
  'LOCATION': 'NC',
  'SAMPLEID': 1550},
 {'AGE': 26.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'M',
  'LOCATION': 'NC',
  'SAMPLEID': 1551},
 {'AGE': 25.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'M',
  'LOCATION': 'NC',
  'SAMPLEID': 1552},
 {'AGE': 50.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'F',
  'LOCATION': 'NC',
  'SAMPLEID': 1553},
 {'AGE': 18.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'F',
  'LOCATION': 'NC',
  'SAMPLEID': 1554},
 {'AGE': 26.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'M',
  'LOCATION': 'NC',
  'SAMPLEID': 1555},
 {'AGE': 34.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Hispanic',
  'GENDER': 'M',
  'LOCATION': 'NC',
  'SAMPLEID': 1556},
 {'AGE': 26.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'F',
  'LOCATION': 'NC',
  'SAMPLEID': 1557},
 {'AGE': 26.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'M',
  'LOCATION': 'NC',
  'SAMPLEID': 1558},
 {'AGE': 31.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'M',
  'LOCATION': 'NC',
  'SAMPLEID': 1561},
 {'AGE': 39.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'M',
  'LOCATION': 'MT',
  'SAMPLEID': 1562},
 {'AGE': 31.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'F',
  'LOCATION': 'MT',
  'SAMPLEID': 1563},
 {'AGE': 36.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'F',
  'LOCATION': 'NC',
  'SAMPLEID': 1564},
 {'AGE': 33.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'F',
  'LOCATION': 'NC',
  'SAMPLEID': 1572},
 {'AGE': 53.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'M',
  'LOCATION': 'NC',
  'SAMPLEID': 1573},
 {'AGE': 30.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'M',
  'LOCATION': 'OK',
  'SAMPLEID': 1574},
 {'AGE': 33.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'F',
  'LOCATION': 'NC',
  'SAMPLEID': 1576},
 {'AGE': 26.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'M',
  'LOCATION': 'NC',
  'SAMPLEID': 1577},
 {'AGE': 22.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Asian(American)',
  'GENDER': 'F',
  'LOCATION': 'NC',
  'SAMPLEID': 1581},
 {'AGE': 22.0,
  'BBTYPE': 'I',
  'ETHNICITY': 'Caucasian',
  'GENDER': 'F',
  'LOCATION': 'NC',
  'SAMPLEID': 1601}]

In [134]:
# bbb_meta_json = bbb_meta_clean.to_json(orient='records')

In [135]:
# bbb_meta_json

In [150]:
# read in otu csv
otu_df1 = pd.read_csv('belly_button_biodiversity_otu_id.csv',
                     dtype=object)

In [194]:
otu_df1_sort = otu_df1.sort_values('otu_id', ascending=False)

In [196]:
otu_df = otu_df1_sort[['otu_id']]
otu_df.head()
otu_df.shape

    otu_id
998    999
997    998
996    997
995    996
994    995

(3674, 1)

In [308]:
# sets otu_id in otu_df to a new list called value
# we will add this list to our dictionary - sample_dict
value = otu_df['otu_id'].tolist()

In [319]:
# this strips the quotes from value
value = list(map(int, value))

In [270]:
# sorts the SAMPLE ID column from bbb_meta_df
sample_sort = bbb_meta_df.sort_values('SAMPLEID', ascending=False)

In [272]:
# creates a descending list of SAMPLEID
sample_value = sample_sort['SAMPLEID'].tolist()

In [348]:
# strip quotes from 'otu_ids'
key1 = 'otu_ids'
key1_new = key1.strip()
print(key1_new)

otu_ids

In [351]:
# dictionary {otu_ids: [1,2,3]}
# the above is the kind of dictionary we want to make
sample_dict = {'otu_ids': value, 'sample_values': sample_value}

In [353]:
# sample_dict

In [ ]:
# append value
# sample_dict['otu_ids'].append(1)

In [366]:
# returns an integer value for the weekly washing frequency 'WFREQ'
freq_df = bbb_meta_df[['WFREQ', 'SAMPLEID']]
freq_df.head()
freq_df.shape

   WFREQ  SAMPLEID
0    2.0       940
1    1.0       941
2    1.0       943
3    1.0       944
4    1.0       945

(153, 2)

In [ ]:
# must concat wfeq + sampleid

In [365]:
wfreq = freq_df['WFREQ'].tolist()