In [1]:
import pandas as pd
import pandas_profiling as pp
import numpy as np
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
import warnings
warnings.filterwarnings('ignore')

In [2]:
# read TripData_2013_07.csv
df1 = pd.read_csv('TripData/TripData_2013_07.csv')

In [3]:
# read TripData_2013_08.csv
df2 = pd.read_csv('TripData/TripData_2013_08.csv')

In [4]:
# read TripData_2013_09.csv
df3 = pd.read_csv('TripData/TripData_2013_09.csv')

In [5]:
# print df1 head 
df1.head(2)
df1.shape

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,634,2013-07-01 00:00:00,2013-07-01 00:10:34,164,E 47 St & 2 Ave,40.753231,-73.970325,504,1 Ave & E 15 St,40.732219,-73.981656,16950,Customer,\N,0
1,1547,2013-07-01 00:00:02,2013-07-01 00:25:49,388,W 26 St & 10 Ave,40.749718,-74.002950,459,W 20 St & 11 Ave,40.746745,-74.007756,19816,Customer,\N,0

(843416, 15)

In [6]:
# print df2 head 
df2.head(2)
df2.shape

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,664,2013-08-01 00:00:00,2013-08-01 00:11:04,449,W 52 St & 9 Ave,40.764618,-73.987895,479,9 Ave & W 45 St,40.760193,-73.991255,20068,Subscriber,1944,1
1,2115,2013-08-01 00:00:01,2013-08-01 00:35:16,254,W 11 St & 6 Ave,40.735324,-73.998004,195,Liberty St & Broadway,40.709056,-74.010434,17095,Subscriber,1974,1

(1001958, 15)

In [7]:
# print df3 head 
df3.head(2)
df3.shape

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1010,2013-09-01 00:00:02,2013-09-01 00:16:52,254,W 11 St & 6 Ave,40.735324,-73.998004,147,Greenwich St & Warren St,40.715422,-74.011220,15014,Subscriber,1974,1
1,1443,2013-09-01 00:00:09,2013-09-01 00:24:12,151,Cleveland Pl & Spring St,40.721816,-73.997203,497,E 17 St & Broadway,40.737050,-73.990093,19393,Customer,\N,0

(1034359, 15)

In [8]:
# merge tables - join three dataframes along rows
df_merge = pd.concat([df1, df2, df3])

In [9]:
df_merge.head()
df_merge.tail()
df_merge.shape

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,634,2013-07-01 00:00:00,2013-07-01 00:10:34,164,E 47 St & 2 Ave,40.753231,-73.970325,504,1 Ave & E 15 St,40.732219,-73.981656,16950,Customer,\N,0
1,1547,2013-07-01 00:00:02,2013-07-01 00:25:49,388,W 26 St & 10 Ave,40.749718,-74.002950,459,W 20 St & 11 Ave,40.746745,-74.007756,19816,Customer,\N,0
2,178,2013-07-01 00:01:04,2013-07-01 00:04:02,293,Lafayette St & E 8 St,40.730287,-73.990765,237,E 11 St & 2 Ave,40.730473,-73.986724,14548,Subscriber,1980,2
3,1580,2013-07-01 00:01:06,2013-07-01 00:27:26,531,Forsyth St & Broome St,40.718939,-73.992663,499,Broadway & W 60 St,40.769155,-73.981918,16063,Customer,\N,0
4,757,2013-07-01 00:01:10,2013-07-01 00:13:47,382,University Pl & E 14 St,40.734927,-73.992005,410,Suffolk St & Stanton St,40.720664,-73.985180,19213,Subscriber,1986,1

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
1034354,93,2013-09-30 23:59:16,2013-10-01 00:00:49,360,William St & Pine St,40.707179,-74.008873,195,Liberty St & Broadway,40.709056,-74.010434,20594,Subscriber,1989,1
1034355,363,2013-09-30 23:59:21,2013-10-01 00:05:24,2003,1 Ave & E 18 St,40.734161,-73.980243,459,W 20 St & 11 Ave,40.746745,-74.007756,15213,Customer,\N,0
1034356,562,2013-09-30 23:59:30,2013-10-01 00:08:52,293,Lafayette St & E 8 St,40.730287,-73.990765,463,9 Ave & W 16 St,40.742065,-74.004432,17938,Subscriber,1967,1
1034357,1237,2013-09-30 23:59:40,2013-10-01 00:20:17,478,11 Ave & W 41 St,40.760301,-73.998842,318,E 43 St & Vanderbilt Ave,40.753202,-73.977987,15931,Customer,\N,0
1034358,1292,2013-09-30 23:59:53,2013-10-01 00:21:25,363,West Thames St,40.708347,-74.017134,363,West Thames St,40.708347,-74.017134,14826,Customer,\N,0

(2879733, 15)

In [10]:
# replace \N with NaN
# df.replace(-999, np.nan)
df_merge2 = df_merge.replace(r"\N", np.nan)
df_merge2.tail()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
1034354,93,2013-09-30 23:59:16,2013-10-01 00:00:49,360,William St & Pine St,40.707179,-74.008873,195,Liberty St & Broadway,40.709056,-74.010434,20594,Subscriber,1989,1
1034355,363,2013-09-30 23:59:21,2013-10-01 00:05:24,2003,1 Ave & E 18 St,40.734161,-73.980243,459,W 20 St & 11 Ave,40.746745,-74.007756,15213,Customer,NaN,0
1034356,562,2013-09-30 23:59:30,2013-10-01 00:08:52,293,Lafayette St & E 8 St,40.730287,-73.990765,463,9 Ave & W 16 St,40.742065,-74.004432,17938,Subscriber,1967,1
1034357,1237,2013-09-30 23:59:40,2013-10-01 00:20:17,478,11 Ave & W 41 St,40.760301,-73.998842,318,E 43 St & Vanderbilt Ave,40.753202,-73.977987,15931,Customer,NaN,0
1034358,1292,2013-09-30 23:59:53,2013-10-01 00:21:25,363,West Thames St,40.708347,-74.017134,363,West Thames St,40.708347,-74.017134,14826,Customer,NaN,0

In [11]:
# drop all rows with NaN
df_merge3 = df_merge2.dropna()
df_merge3.tail()
df_merge3.shape

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
1034351,434,2013-09-30 23:58:30,2013-10-01 00:05:44,399,Lafayette Ave & St James Pl,40.688515,-73.964763,437,Macon St & Nostrand Ave,40.680983,-73.950048,18160,Subscriber,1991,2
1034352,663,2013-09-30 23:58:43,2013-10-01 00:09:46,517,Pershing Square S,40.751493,-73.977988,495,W 47 St & 10 Ave,40.762699,-73.993012,14996,Subscriber,1968,1
1034353,608,2013-09-30 23:59:09,2013-10-01 00:09:17,336,Sullivan St & Washington Sq,40.730477,-73.999061,195,Liberty St & Broadway,40.709056,-74.010434,19440,Subscriber,1981,1
1034354,93,2013-09-30 23:59:16,2013-10-01 00:00:49,360,William St & Pine St,40.707179,-74.008873,195,Liberty St & Broadway,40.709056,-74.010434,20594,Subscriber,1989,1
1034356,562,2013-09-30 23:59:30,2013-10-01 00:08:52,293,Lafayette St & E 8 St,40.730287,-73.990765,463,9 Ave & W 16 St,40.742065,-74.004432,17938,Subscriber,1967,1

(2373663, 15)

In [12]:
# reset the index of df_merge3
df_merge3.reset_index(drop=True, inplace=True)
df_merge3.head(2)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,178,2013-07-01 00:01:04,2013-07-01 00:04:02,293,Lafayette St & E 8 St,40.730287,-73.990765,237,E 11 St & 2 Ave,40.730473,-73.986724,14548,Subscriber,1980,2
1,757,2013-07-01 00:01:10,2013-07-01 00:13:47,382,University Pl & E 14 St,40.734927,-73.992005,410,Suffolk St & Stanton St,40.720664,-73.985180,19213,Subscriber,1986,1

<br>
<hr>

## start section for get_age function

In [13]:
# add new column - age
# create a variable for year (current year for the CitiBike example)
year = 2013

In [14]:
def get_age(i):
    return year - i

test_age = []

for i in df_merge3['birth year']:
    test_age.append(get_age(int(i)))

print(len(test_age))

2373663

## end section for get_age function
<br>
<hr>

In [15]:
# make age_list into a series
# set it to a variable "age" which will be the new column "age" that we add to the dataframe
age = pd.Series(test_age)

In [16]:
# now insert age into the df as a column 
# loc=14 will set the location at index14
# value=age - sets the values of the column to the pd series list we made above
df_merge3.insert(loc=14, column='age', value=age)

In [17]:
# use map method to create a new column for sex
df_merge3['sex'] = df_merge3.gender.map({0:'unknown', 1:'male', 2:'female'})

In [18]:
# print top 2 rows - notice that we have an extra index after we reset the index
df_merge3.head(2)
df_merge3.tail()
df_merge3.shape

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,age,gender,sex
0,178,2013-07-01 00:01:04,2013-07-01 00:04:02,293,Lafayette St & E 8 St,40.730287,-73.990765,237,E 11 St & 2 Ave,40.730473,-73.986724,14548,Subscriber,1980,33,2,female
1,757,2013-07-01 00:01:10,2013-07-01 00:13:47,382,University Pl & E 14 St,40.734927,-73.992005,410,Suffolk St & Stanton St,40.720664,-73.985180,19213,Subscriber,1986,27,1,male

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,age,gender,sex
2373658,434,2013-09-30 23:58:30,2013-10-01 00:05:44,399,Lafayette Ave & St James Pl,40.688515,-73.964763,437,Macon St & Nostrand Ave,40.680983,-73.950048,18160,Subscriber,1991,22,2,female
2373659,663,2013-09-30 23:58:43,2013-10-01 00:09:46,517,Pershing Square S,40.751493,-73.977988,495,W 47 St & 10 Ave,40.762699,-73.993012,14996,Subscriber,1968,45,1,male
2373660,608,2013-09-30 23:59:09,2013-10-01 00:09:17,336,Sullivan St & Washington Sq,40.730477,-73.999061,195,Liberty St & Broadway,40.709056,-74.010434,19440,Subscriber,1981,32,1,male
2373661,93,2013-09-30 23:59:16,2013-10-01 00:00:49,360,William St & Pine St,40.707179,-74.008873,195,Liberty St & Broadway,40.709056,-74.010434,20594,Subscriber,1989,24,1,male
2373662,562,2013-09-30 23:59:30,2013-10-01 00:08:52,293,Lafayette St & E 8 St,40.730287,-73.990765,463,9 Ave & W 16 St,40.742065,-74.004432,17938,Subscriber,1967,46,1,male

(2373663, 17)

In [19]:
# save this cleaned, merged dataframe to a csv
# there are close to 3 mill observations for this merged dataframe
# save df_merge.to_csv
#df_merge3.to_csv('Tableau-CitiBike/TripData_2013_Summer2.csv', index=False)

<br>

# New section - don't drop Nan
## repeat loops for age and gender

In [111]:
# read dataframe before dropna
df_merge2.head(2)
df_merge2.tail()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,634,2013-07-01 00:00:00,2013-07-01 00:10:34,164,E 47 St & 2 Ave,40.753231,-73.970325,504,1 Ave & E 15 St,40.732219,-73.981656,16950,Customer,NaN,0
1,1547,2013-07-01 00:00:02,2013-07-01 00:25:49,388,W 26 St & 10 Ave,40.749718,-74.002950,459,W 20 St & 11 Ave,40.746745,-74.007756,19816,Customer,NaN,0

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
1034354,93,2013-09-30 23:59:16,2013-10-01 00:00:49,360,William St & Pine St,40.707179,-74.008873,195,Liberty St & Broadway,40.709056,-74.010434,20594,Subscriber,1989,1
1034355,363,2013-09-30 23:59:21,2013-10-01 00:05:24,2003,1 Ave & E 18 St,40.734161,-73.980243,459,W 20 St & 11 Ave,40.746745,-74.007756,15213,Customer,NaN,0
1034356,562,2013-09-30 23:59:30,2013-10-01 00:08:52,293,Lafayette St & E 8 St,40.730287,-73.990765,463,9 Ave & W 16 St,40.742065,-74.004432,17938,Subscriber,1967,1
1034357,1237,2013-09-30 23:59:40,2013-10-01 00:20:17,478,11 Ave & W 41 St,40.760301,-73.998842,318,E 43 St & Vanderbilt Ave,40.753202,-73.977987,15931,Customer,NaN,0
1034358,1292,2013-09-30 23:59:53,2013-10-01 00:21:25,363,West Thames St,40.708347,-74.017134,363,West Thames St,40.708347,-74.017134,14826,Customer,NaN,0

In [112]:
# 2013 in birth year is the year of the data set and now represents the NaN or unknown value
# we did this to avoid dropping na so that we keep the 0 - gender classificaiton
df_new = df_merge2.fillna(year)
df_new.tail()
df_new.shape

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
1034354,93,2013-09-30 23:59:16,2013-10-01 00:00:49,360,William St & Pine St,40.707179,-74.008873,195,Liberty St & Broadway,40.709056,-74.010434,20594,Subscriber,1989,1
1034355,363,2013-09-30 23:59:21,2013-10-01 00:05:24,2003,1 Ave & E 18 St,40.734161,-73.980243,459,W 20 St & 11 Ave,40.746745,-74.007756,15213,Customer,2013,0
1034356,562,2013-09-30 23:59:30,2013-10-01 00:08:52,293,Lafayette St & E 8 St,40.730287,-73.990765,463,9 Ave & W 16 St,40.742065,-74.004432,17938,Subscriber,1967,1
1034357,1237,2013-09-30 23:59:40,2013-10-01 00:20:17,478,11 Ave & W 41 St,40.760301,-73.998842,318,E 43 St & Vanderbilt Ave,40.753202,-73.977987,15931,Customer,2013,0
1034358,1292,2013-09-30 23:59:53,2013-10-01 00:21:25,363,West Thames St,40.708347,-74.017134,363,West Thames St,40.708347,-74.017134,14826,Customer,2013,0

(2879733, 15)

In [113]:
test_age2 = []

for i in df_new['birth year']:
    test_age2.append(get_age(int(i)))

print(len(test_age2))

2879733

# delete chunk below

In [114]:
# use for loop to populate age column
#age_list2 = []

#for i in df_new['birth year']:
    #age_list2.append(year - int(i))

# checks length of age list which is the same as the length of the dataframe - 2373663
#print(len(age_list2))

# delete chunk above ^^^

In [115]:
# make test_age2 into a series
# set it to a variable "age2" which will be the new column "age" that we add to the dataframe
age2 = pd.Series(test_age2)

In [116]:
# now insert age into the df as a column 
# loc=14 will set the location at index14
# value=age - sets the values of the column to the pd series list we made above
df_new.insert(loc=14, column='age', value=age2)

In [117]:
# use map method to create a new column for sex
df_new['sex'] = df_new.gender.map({0:'unknown', 1:'male', 2:'female'})

In [118]:
# print top 2 rows 
df_new.head()
df_new.tail()
df_new.shape

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,age,gender,sex
0,634,2013-07-01 00:00:00,2013-07-01 00:10:34,164,E 47 St & 2 Ave,40.753231,-73.970325,504,1 Ave & E 15 St,40.732219,-73.981656,16950,Customer,2013,0,0,unknown
1,1547,2013-07-01 00:00:02,2013-07-01 00:25:49,388,W 26 St & 10 Ave,40.749718,-74.002950,459,W 20 St & 11 Ave,40.746745,-74.007756,19816,Customer,2013,0,0,unknown
2,178,2013-07-01 00:01:04,2013-07-01 00:04:02,293,Lafayette St & E 8 St,40.730287,-73.990765,237,E 11 St & 2 Ave,40.730473,-73.986724,14548,Subscriber,1980,33,2,female
3,1580,2013-07-01 00:01:06,2013-07-01 00:27:26,531,Forsyth St & Broome St,40.718939,-73.992663,499,Broadway & W 60 St,40.769155,-73.981918,16063,Customer,2013,0,0,unknown
4,757,2013-07-01 00:01:10,2013-07-01 00:13:47,382,University Pl & E 14 St,40.734927,-73.992005,410,Suffolk St & Stanton St,40.720664,-73.985180,19213,Subscriber,1986,27,1,male

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,age,gender,sex
1034354,93,2013-09-30 23:59:16,2013-10-01 00:00:49,360,William St & Pine St,40.707179,-74.008873,195,Liberty St & Broadway,40.709056,-74.010434,20594,Subscriber,1989,0,1,male
1034355,363,2013-09-30 23:59:21,2013-10-01 00:05:24,2003,1 Ave & E 18 St,40.734161,-73.980243,459,W 20 St & 11 Ave,40.746745,-74.007756,15213,Customer,2013,0,0,unknown
1034356,562,2013-09-30 23:59:30,2013-10-01 00:08:52,293,Lafayette St & E 8 St,40.730287,-73.990765,463,9 Ave & W 16 St,40.742065,-74.004432,17938,Subscriber,1967,31,1,male
1034357,1237,2013-09-30 23:59:40,2013-10-01 00:20:17,478,11 Ave & W 41 St,40.760301,-73.998842,318,E 43 St & Vanderbilt Ave,40.753202,-73.977987,15931,Customer,2013,24,0,unknown
1034358,1292,2013-09-30 23:59:53,2013-10-01 00:21:25,363,West Thames St,40.708347,-74.017134,363,West Thames St,40.708347,-74.017134,14826,Customer,2013,37,0,unknown

(2879733, 17)

In [119]:
# print df where birth year = 2013
df_new.loc[df_new['birth year'] == 2013, ['birth year','age']].tail()

        birth year  age
1034315       2013    0
1034337       2013   36
1034355       2013    0
1034357       2013   24
1034358       2013   37

# -----------------------------------------
<br>

## Section to calculate distance between stations - using df_new

In [29]:
station_distance = df_new[['start station name', 'start station latitude', 'start station longitude',
                          'end station name', 'end station latitude', 'end station longitude']]
station_distance.iloc[0:2] # iloc returns the first two rows (i=index location)
station_distance.shape

,start station name,start station latitude,start station longitude,end station name,end station latitude,end station longitude
0,E 47 St & 2 Ave,40.753231,-73.970325,1 Ave & E 15 St,40.732219,-73.981656
1,W 26 St & 10 Ave,40.749718,-74.002950,W 20 St & 11 Ave,40.746745,-74.007756

(2879733, 6)

In [30]:
station_distance.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2879733 entries, 0 to 1034358
Data columns (total 6 columns):
start station name         object
start station latitude     float64
start station longitude    float64
end station name           object
end station latitude       float64
end station longitude      float64
dtypes: float64(4), object(2)
memory usage: 153.8+ MB

In [31]:
# uses .loc to slice out the start lat & long col
station_distance.loc[:, ['start station latitude', 'start station longitude']].head(2)

   start station latitude  start station longitude
0               40.753231               -73.970325
1               40.749718               -74.002950

In [32]:
# this library helps you calculate distance by coordinates
import geopy.distance

In [33]:
# test out geopy by inputting random coordinates
coords_1 = (40.753231, -73.970325) # start
coords_2 = (40.732219, -73.981656) # end

print (geopy.distance.vincenty(coords_1, coords_2).miles)

1.5670979667637572

In [34]:
# create an empty list to append to for distance
distance = []

In [35]:
# create an empty list to append start coords
start_coords = [] # perhaps save coordinates tolist()
start_lat = []
start_lon = []

In [36]:
# iterate through 'start station latitude' and append to start
for i in station_distance['start station latitude']:
    start_lat.append(i)

# iterate through start station longitude
for i in station_distance['start station longitude']:
    start_lon.append(i)

In [37]:
# print to make sure all the lat coords and long coords were added to the list
print (len(start_lat))
print (len(start_lon))

2879733
2879733

In [38]:
# convert the start / end coords to str objects
station_distance['start station latitude'] = station_distance['start station latitude'].astype(str)
station_distance['start station longitude'] = station_distance['start station longitude'].astype(str)
station_distance['end station latitude'] = station_distance['end station latitude'].astype(str)
station_distance['end station longitude'] = station_distance['end station longitude'].astype(str)

station_distance.info() # will print the datatype

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2879733 entries, 0 to 1034358
Data columns (total 6 columns):
start station name         object
start station latitude     object
start station longitude    object
end station name           object
end station latitude       object
end station longitude      object
dtypes: object(6)
memory usage: 153.8+ MB

In [39]:
# this concats the start lat and lon values and adds to a new col
station_distance['start coordinates'] = station_distance['start station latitude'].astype(str) + " , " + \
station_distance['start station longitude']

In [40]:
# this concats the end lat and end lon values and adds to a new col
station_distance['end coordinates'] = station_distance['end station latitude'].astype(str) + " , " + \
station_distance['end station longitude']

In [41]:
station_distance.head(2)
station_distance.shape

,start station name,start station latitude,start station longitude,end station name,end station latitude,end station longitude,start coordinates,end coordinates
0,E 47 St & 2 Ave,40.75323098,-73.97032517,1 Ave & E 15 St,40.73221853,-73.98165557,"40.75323098 , -73.97032517","40.73221853 , -73.98165557"
1,W 26 St & 10 Ave,40.749717753,-74.002950346,W 20 St & 11 Ave,40.746745,-74.007756,"40.749717753 , -74.002950346","40.746745 , -74.007756"

(2879733, 8)

In [130]:
# take the start coordinates and end coordinates columns and turn them into lists
start_coord_list = station_distance['start coordinates'].tolist()
end_coord_list = station_distance['end coordinates'].tolist()

In [131]:
# print to make sure the length is the same
# set them to variables so we can iterate through the object below
len_start_coord_list = len(start_coord_list)
len_end_coord_list = len (end_coord_list)

len_start_coord_list
len_end_coord_list

2879733

2879733

In [183]:
# lets test to see that the coords were added to the empty lists
# test by position in list
test0 = start_coord_list[2879731]
test1 = end_coord_list[2879731]
print(test0)
print(test1)

40.76030096 , -73.99884222
40.75320159 , -73.9779874

<br>

### loc vs iloc practice

In [67]:
# print out head of dataframe
station_distance.head(2)

,start station name,start station latitude,start station longitude,end station name,end station latitude,end station longitude,start coordinates,end coordinates
0,E 47 St & 2 Ave,40.75323098,-73.97032517,1 Ave & E 15 St,40.73221853,-73.98165557,"40.75323098 , -73.97032517","40.73221853 , -73.98165557"
1,W 26 St & 10 Ave,40.749717753,-74.002950346,W 20 St & 11 Ave,40.746745,-74.007756,"40.749717753 , -74.002950346","40.746745 , -74.007756"

In [83]:
# print out a flitered df for station_distance displaying start station name, 
# end station name, start coordinates, end coordinates
# REMEMBER - loc indexes by column name
station_distance.loc[:, ['start station name', 'end station name', 'start coordinates', 'end coordinates']].head(2)

,start station name,end station name,start coordinates,end coordinates
0,E 47 St & 2 Ave,1 Ave & E 15 St,"40.75323098 , -73.97032517","40.73221853 , -73.98165557"
1,W 26 St & 10 Ave,W 20 St & 11 Ave,"40.749717753 , -74.002950346","40.746745 , -74.007756"

In [84]:
# REMEMBER - iloc - indexes by column position number
station_distance.iloc[0:2, [0,3,6,7]]

# iloc range 0-4 is exclusive - here, the columns will end at end station name
# loc - is inclusive for range 0-4, the columns will include the 4th position
station_distance.iloc[0:2, 0:4]

,start station name,end station name,start coordinates,end coordinates
0,E 47 St & 2 Ave,1 Ave & E 15 St,"40.75323098 , -73.97032517","40.73221853 , -73.98165557"
1,W 26 St & 10 Ave,W 20 St & 11 Ave,"40.749717753 , -74.002950346","40.746745 , -74.007756"

,start station name,start station latitude,start station longitude,end station name
0,E 47 St & 2 Ave,40.75323098,-73.97032517,1 Ave & E 15 St
1,W 26 St & 10 Ave,40.749717753,-74.002950346,W 20 St & 11 Ave

### end loc vs iloc practice
<br>
<hr>

# Practice Function
-  first two chunks test out geopy

In [179]:
start = get_start(start_coord_list, 1)
end = get_end(end_coord_list, 1)

In [180]:
geopy.distance.vincenty(start, end).miles # should print the same as get_distance

get_distance() # should print the same as above

0.32507977624194495

0.32507977624194495

### This section covers the main function

In [140]:
# create a function to get a list element
def get_start(start_coord_list, position):
    return start_coord_list[position]

In [141]:
# create a function to get a list element
def get_end(end_coord_list, position):
    return end_coord_list[position]

In [157]:
def get_distance():
    return geopy.distance.vincenty(get_start(start_coord_list, i), get_end(end_coord_list, i)).miles

In [185]:
# create an empty list to append to
distance_list = []

# iterate through get_distance to get the distance between coordinates
for i in range (0, len_start_coord_list):    
    distance_list.append(get_distance2())

In [187]:
# check to see if distance was added to list
print(len(distance_list))

2879733

In [188]:
# make distance_list into a series
# set it to a variable "distance2" which will be the new column "distance" that we add to the dataframe
distance2 = pd.Series(distance_list)

In [189]:
# now insert distance2 into the df as a column 
# loc=11 will set the location at index11 after end station longitude
# value=distance2 - sets the values of the column to the pd series list we made above
df_new.insert(loc=11, column='distance_miles', value=distance2)

In [190]:
df_new.shape
df_new.columns

(2879733, 18)

Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'distance_miles',
       'bikeid', 'usertype', 'birth year', 'age', 'gender', 'sex'],
      dtype='object')

In [191]:
df_new.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,distance_miles,bikeid,usertype,birth year,age,gender,sex
0,634,2013-07-01 00:00:00,2013-07-01 00:10:34,164,E 47 St & 2 Ave,40.753231,-73.970325,504,1 Ave & E 15 St,40.732219,-73.981656,1.567115,16950,Customer,2013,0,0,unknown
1,1547,2013-07-01 00:00:02,2013-07-01 00:25:49,388,W 26 St & 10 Ave,40.749718,-74.002950,459,W 20 St & 11 Ave,40.746745,-74.007756,0.325080,19816,Customer,2013,0,0,unknown
2,178,2013-07-01 00:01:04,2013-07-01 00:04:02,293,Lafayette St & E 8 St,40.730287,-73.990765,237,E 11 St & 2 Ave,40.730473,-73.986724,0.212504,14548,Subscriber,1980,33,2,female
3,1580,2013-07-01 00:01:06,2013-07-01 00:27:26,531,Forsyth St & Broome St,40.718939,-73.992663,499,Broadway & W 60 St,40.769155,-73.981918,3.510618,16063,Customer,2013,0,0,unknown
4,757,2013-07-01 00:01:10,2013-07-01 00:13:47,382,University Pl & E 14 St,40.734927,-73.992005,410,Suffolk St & Stanton St,40.720664,-73.985180,1.047339,19213,Subscriber,1986,27,1,male

In [192]:
# save this cleaned, merged dataframe to a csv
# there are close to 3 mill observations for this merged dataframe
# save df_merge.to_csv
# df_new.to_csv('Tableau-CitiBike/TripData_2013_SGDA.csv', index=False)

<br>

# new section for calculations

In [ ]:
# add aggregate section
# By what percentage has total ridership grown?
# filter out for each year, take length of that new data frame, then compare

In [193]:
# july filter
july_2013 = df_new[df_new['starttime'].str.contains("2013-07")]
july_2013.head()
july_2013.shape

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,distance_miles,bikeid,usertype,birth year,age,gender,sex
0,634,2013-07-01 00:00:00,2013-07-01 00:10:34,164,E 47 St & 2 Ave,40.753231,-73.970325,504,1 Ave & E 15 St,40.732219,-73.981656,1.567115,16950,Customer,2013,0,0,unknown
1,1547,2013-07-01 00:00:02,2013-07-01 00:25:49,388,W 26 St & 10 Ave,40.749718,-74.002950,459,W 20 St & 11 Ave,40.746745,-74.007756,0.325080,19816,Customer,2013,0,0,unknown
2,178,2013-07-01 00:01:04,2013-07-01 00:04:02,293,Lafayette St & E 8 St,40.730287,-73.990765,237,E 11 St & 2 Ave,40.730473,-73.986724,0.212504,14548,Subscriber,1980,33,2,female
3,1580,2013-07-01 00:01:06,2013-07-01 00:27:26,531,Forsyth St & Broome St,40.718939,-73.992663,499,Broadway & W 60 St,40.769155,-73.981918,3.510618,16063,Customer,2013,0,0,unknown
4,757,2013-07-01 00:01:10,2013-07-01 00:13:47,382,University Pl & E 14 St,40.734927,-73.992005,410,Suffolk St & Stanton St,40.720664,-73.985180,1.047339,19213,Subscriber,1986,27,1,male

(843416, 18)

In [194]:
# aug filter
aug_2013 = df_new[df_new['starttime'].str.contains("2013-08")]
aug_2013.head()
aug_2013.shape

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,distance_miles,bikeid,usertype,birth year,age,gender,sex
0,664,2013-08-01 00:00:00,2013-08-01 00:11:04,449,W 52 St & 9 Ave,40.764618,-73.987895,479,9 Ave & W 45 St,40.760193,-73.991255,1.567115,20068,Subscriber,1944,0,1,male
1,2115,2013-08-01 00:00:01,2013-08-01 00:35:16,254,W 11 St & 6 Ave,40.735324,-73.998004,195,Liberty St & Broadway,40.709056,-74.010434,0.325080,17095,Subscriber,1974,0,1,male
2,385,2013-08-01 00:00:03,2013-08-01 00:06:28,460,S 4 St & Wythe Ave,40.712859,-73.965903,2002,Wythe Ave & Metropolitan Ave,40.716887,-73.963198,0.212504,18197,Customer,2013,33,0,unknown
3,653,2013-08-01 00:00:10,2013-08-01 00:11:03,398,Atlantic Ave & Furman St,40.691652,-73.999979,398,Atlantic Ave & Furman St,40.691652,-73.999979,3.510618,17080,Customer,2013,0,0,unknown
4,954,2013-08-01 00:00:11,2013-08-01 00:16:05,319,Park Pl & Church St,40.713361,-74.009376,336,Sullivan St & Washington Sq,40.730477,-73.999061,1.047339,17967,Customer,2013,27,0,unknown

(1001958, 18)

In [195]:
# sep filter
sep_2013 = df_new[df_new['starttime'].str.contains("2013-09")]
sep_2013.head()
sep_2013.shape

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,distance_miles,bikeid,usertype,birth year,age,gender,sex
0,1010,2013-09-01 00:00:02,2013-09-01 00:16:52,254,W 11 St & 6 Ave,40.735324,-73.998004,147,Greenwich St & Warren St,40.715422,-74.011220,1.567115,15014,Subscriber,1974,0,1,male
1,1443,2013-09-01 00:00:09,2013-09-01 00:24:12,151,Cleveland Pl & Spring St,40.721816,-73.997203,497,E 17 St & Broadway,40.737050,-73.990093,0.325080,19393,Customer,2013,0,0,unknown
2,1387,2013-09-01 00:00:16,2013-09-01 00:23:23,352,W 56 St & 6 Ave,40.763406,-73.977225,405,Washington St & Gansevoort St,40.739323,-74.008119,0.212504,16160,Subscriber,1992,33,1,male
3,405,2013-09-01 00:00:18,2013-09-01 00:07:03,490,8 Ave & W 33 St,40.751551,-73.993934,459,W 20 St & 11 Ave,40.746745,-74.007756,3.510618,14997,Subscriber,1973,0,1,male
4,270,2013-09-01 00:00:20,2013-09-01 00:04:50,236,St Marks Pl & 2 Ave,40.728419,-73.987140,393,E 5 St & Avenue C,40.722992,-73.979955,1.047339,19609,Subscriber,1984,27,1,male

(1034359, 18)

In [196]:
# difference
july_obs = july_2013['tripduration'].count()
july_obs

843416

In [197]:
sep_obs = sep_2013['tripduration'].count()
sep_obs

1034359

# Total % Increase - Ridership Change July '13 - Sep '13

In [206]:
# total_ridership_change (July 2013 - Sep 2013)
total_ridership = (sep_obs - july_obs) / july_obs * 100
total_ridership_change = float(format(total_ridership, '.2f'))
print("There was a " + str(total_ridership_change) + " % " + "increase in ridership from July to Sep 2013")

There was a 22.64 % increase in ridership from July to Sep 2013

## Proportion of customers - subscribers

In [207]:
# How has the proportion of short-term customers and annual subscribers changed?

# FIND JULY CUSTOMERS
short_term_customers = july_2013[july_2013['usertype'] == 'Customer']
july_customers = short_term_customers['usertype'].count()

# stores the amount of july customers
july_customers

174915

In [208]:
# FIND JULY Subscribers
subscriber = july_2013[july_2013['usertype'] == 'Subscriber']
july_subscriber = subscriber['usertype'].count()

# stores the amount of july subscribers
july_subscriber

668501

### July Customers vs Subscribers

In [221]:
# Proportion of July Customers vs Subscribers
c_sub = july_customers / july_subscriber 
customer_subscriber_july = float(format(c_sub, '.2f'))
customer_subscriber_july
print("The proportion of customers to subscribers in July  was approx " + str(customer_subscriber_july) + \
      " or 1 customer for every 4 subcribers")

0.26

The proportion of customers to subscribers in July  was approx 0.26 or 1 customer for every 4 subcribers

In [213]:
# FIND SEP CUSTOMERS
sep_cust = sep_2013[sep_2013['usertype'] == 'Customer']
sep_customers = sep_cust['usertype'].count()

# stores the amount of july customers
sep_customers

145169

In [214]:
# FIND SEP Subscribers
sep_sub = sep_2013[sep_2013['usertype'] == 'Subscriber']
sep_subscriber = sep_sub['usertype'].count()

# stores the amount of july subscribers
sep_subscriber

889190

### Sep Customers vs Subscribers

In [220]:
# Proportion of Sep Customers vs Subscribers
c_sub_sep = sep_customers / sep_subscriber 
customer_subscriber_sep = float(format(c_sub_sep, '.2f'))
customer_subscriber_sep
print("The proportion of customers to subscribers in September was approx " + str(customer_subscriber_sep) + \
      " or 1 customer for every 6 subscribers")

0.16

The proportion of customers to subscribers in September was approx 0.16 or 1 customer for every 6 subscribers

### The amount of short term customers dropped 17% from July-Sep of 2013

In [223]:
# customer change: July - Sep
cust_change = (sep_customers - july_customers) / july_customers * 100
july_sep_cust_change = float(format(cust_change, '.2f'))
print(str(july_sep_cust_change) + "%")

-17.01%

### The amount of subscribers increased 33% from July-Sep of 2013

In [224]:
# subscriber change: July - Sep
sub_change = (sep_subscriber - july_subscriber) / july_subscriber * 100
july_sep_sub = float(format(sub_change, '.2f'))
print(str(july_sep_sub) + "%")

33.01%

## Gender breakdown

In [239]:
# Today, what is the gender breakdown of active participants (Male v. Female)?
male_df = df_new[df_new['sex'] == 'male']
male_count = male_df['sex'].count()
print("Male Total: " + str(male_count))

Male Total: 1798125

In [238]:
female_df = df_new[df_new['sex'] == 'female']
female_count = female_df['sex'].count()
print("Female Total: " + str(female_count))

Female Total: 575354

In [235]:
# unknown count
unknown_df = df_new[df_new['sex'] == 'unknown']
unknown_count = unknown_df['sex'].count()
print("Unknown Gender: " + str(unknown_count))
gender_total = male_count + female_count + unknown_count
print("Gender Total: " + str(gender_total))

Unknown Gender: 506254
Gender Total: 2879733

In [237]:
# test to see if we have the correct amount of observations for gender
gender_total == len_start_coord_list

True

In [240]:
# create new dataframe to store analyzed values
data = {
    'Total_Ridership_Change' : [total_ridership_change],
    'July_Customer_vs_Subs' : [customer_subscriber_july],
    'Sep_Customer_vs_Subs' : [customer_subscriber_sep],
    'ShortTerm_Customer_Change' : [july_sep_cust_change],
    'Subscribers_Chage' : [july_sep_sub],
    'Male_Count' : [male_count],
    'Female_Count' : [female_count],
    'Uknown_Gender_Count': [unknown_count]
}
data

{'Female_Count': [575354],
 'July_Customer_vs_Subs': [0.26],
 'Male_Count': [1798125],
 'Sep_Customer_vs_Subs': [0.16],
 'ShortTerm_Customer_Change': [-17.01],
 'Subscribers_Chage': [33.01],
 'Total_Ridership_Change': [22.64],
 'Uknown_Gender_Count': [506254]}

In [241]:
# insights df
insights_df = pd.DataFrame(data, columns= ['Total_Ridership_Change',
                                           'July_Customer_vs_Subs',
                                          'Sep_Customer_vs_Subs',
                                          'ShortTerm_Customer_Change',
                                          'Subscribers_Chage',
                                          'Male_Count',
                                          'Female_Count'])
insights_df

,Total_Ridership_Change,July_Customer_vs_Subs,Sep_Customer_vs_Subs,ShortTerm_Customer_Change,Subscribers_Chage,Male_Count,Female_Count
0,22.64,0.26,0.16,-17.01,33.01,1798125,575354

# Pandas Profiling Section

In [ ]:
# use pandas profiling to learn more about the merged df
profile = pp.ProfileReport(df_merge)

In [ ]:
# print profile report
# profile

In [ ]:
# save pandas profile to file
# profile.to_file(outputfile="citibike_13_summer.html")

## link to pandas profile report
[CitiBike-Profile-Summer2013](citibike_13_summer.html)