In [1]:
# deletes engine - run when you have to restart
!rm bbb.sqlite

In [2]:
# import dependencies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')
pd.set_option('display.height', 1000)
pd.set_option('display.max_rows', 100)
pd.set_option('display.max_columns', 100)
pd.set_option('display.width', 1000)

# display multiple print results on one line
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

# expands .describe with more info about the data set
import pandas_profiling

# sqlalchemy dependencies
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect
from sqlalchemy import func

from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Float, Text, Numeric

import os

height has been deprecated.

In [3]:
# PyMySQL 
import pymysql
pymysql.install_as_MySQLdb()

# flask 
from flask import Flask, jsonify

In [4]:
# create engine
engine = create_engine("sqlite:///bbb.sqlite")
conn = engine.connect()

In [5]:
# Base = declarative_base()
Base = automap_base()

In [6]:
# create Samples_Metadata class

class Samples_Metadata(Base):
    __tablename__ = 'samples_metadata'
    
    SAMPLEID = Column(Integer, primary_key=True)
    EVENT = Column(Text)
    ETHNICITY = Column(Text)
    GENDER = Column(Text)
    AGE = Column(Integer)
    WFREQ = Column(Integer)
    BBTYPE = Column(Text)
    LOCATION = Column(Text)
    COUNTRY012 = Column(Text)
    ZIP012 = Column(Integer)
    COUNTRY1319 = Column(Text)
    ZIP1319 = Column(Integer)
    DOG = Column(Text)
    CAT = Column(Text)
    IMPSURFACE013 = Column(Integer)
    NPP013 = Column(Float)
    MMAXTEMP013 = Column(Float)
    PFC013 = Column(Float)
    IMPSURFACE1319 = Column(Integer)
    NPP1319 = Column(Float)
    MMAXTEMP1319 = Column(Float)
    PFC1319 = Column(Float)
    
    def __repr__(self):
        return f"id={self.ID}"

In [7]:
# create OTU class
class OTU(Base):
    __tablename__ = 'otu'
    
    otu_id = Column(Integer, primary_key=True)
    lowest_taxonomic_unit_found = Column(Text)
    
    def __repr__(self):
        return f"id={self.otu_id}, lowest_taxonomic_unit_found={self.lowest_taxonomic_unit_found}"

In [8]:
# create Samples class
class Samples(Base):
    __tablename__ = 'samples'

    otu_id = Column(Integer, primary_key=True)
    BB_940 = Column(Integer)
    BB_941 = Column(Integer)
    BB_943 = Column(Integer)
    BB_944 = Column(Integer)
    BB_945 = Column(Integer)
    BB_946 = Column(Integer)
    BB_947 = Column(Integer)
    BB_948 = Column(Integer)
    BB_949 = Column(Integer)
    BB_950 = Column(Integer)
    BB_952 = Column(Integer)
    BB_953 = Column(Integer)
    BB_954 = Column(Integer)
    BB_955 = Column(Integer)
    BB_956 = Column(Integer)
    BB_958 = Column(Integer)
    BB_959 = Column(Integer)
    BB_960 = Column(Integer)
    BB_961 = Column(Integer)
    BB_962 = Column(Integer)
    BB_963 = Column(Integer)
    BB_964 = Column(Integer)
    BB_966 = Column(Integer)
    BB_967 = Column(Integer)
    BB_968 = Column(Integer)
    BB_969 = Column(Integer)
    BB_970 = Column(Integer)
    BB_971 = Column(Integer)
    BB_972 = Column(Integer)
    BB_973 = Column(Integer)
    BB_974 = Column(Integer)
    BB_975 = Column(Integer)
    BB_978 = Column(Integer)
    BB_1233 = Column(Integer)
    BB_1234 = Column(Integer)
    BB_1235 = Column(Integer)
    BB_1236 = Column(Integer)
    BB_1237 = Column(Integer)
    BB_1238 = Column(Integer)
    BB_1242 = Column(Integer)
    BB_1243 = Column(Integer)
    BB_1246 = Column(Integer)
    BB_1253 = Column(Integer)
    BB_1254 = Column(Integer)
    BB_1258 = Column(Integer)
    BB_1259 = Column(Integer)
    BB_1260 = Column(Integer)
    BB_1264 = Column(Integer)
    BB_1265 = Column(Integer)
    BB_1273 = Column(Integer)
    BB_1275 = Column(Integer)
    BB_1276 = Column(Integer)
    BB_1277 = Column(Integer)
    BB_1278 = Column(Integer)
    BB_1279 = Column(Integer)
    BB_1280 = Column(Integer)
    BB_1281 = Column(Integer)
    BB_1282 = Column(Integer)
    BB_1283 = Column(Integer)
    BB_1284 = Column(Integer)
    BB_1285 = Column(Integer)
    BB_1286 = Column(Integer)
    BB_1287 = Column(Integer)
    BB_1288 = Column(Integer)
    BB_1289 = Column(Integer)
    BB_1290 = Column(Integer)
    BB_1291 = Column(Integer)
    BB_1292 = Column(Integer)
    BB_1293 = Column(Integer)
    BB_1294 = Column(Integer)
    BB_1295 = Column(Integer)
    BB_1296 = Column(Integer)
    BB_1297 = Column(Integer)
    BB_1298 = Column(Integer)
    BB_1308 = Column(Integer)
    BB_1309 = Column(Integer)
    BB_1310 = Column(Integer)
    BB_1374 = Column(Integer)
    BB_1415 = Column(Integer)
    BB_1439 = Column(Integer)
    BB_1441 = Column(Integer)
    BB_1443 = Column(Integer)
    BB_1486 = Column(Integer)
    BB_1487 = Column(Integer)
    BB_1489 = Column(Integer)
    BB_1490 = Column(Integer)
    BB_1491 = Column(Integer)
    BB_1494 = Column(Integer)
    BB_1495 = Column(Integer)
    BB_1497 = Column(Integer)
    BB_1499 = Column(Integer)
    BB_1500 = Column(Integer)
    BB_1501 = Column(Integer)
    BB_1502 = Column(Integer)
    BB_1503 = Column(Integer)
    BB_1504 = Column(Integer)
    BB_1505 = Column(Integer)
    BB_1506 = Column(Integer)
    BB_1507 = Column(Integer)
    BB_1508 = Column(Integer)
    BB_1510 = Column(Integer)
    BB_1511 = Column(Integer)
    BB_1512 = Column(Integer)
    BB_1513 = Column(Integer)
    BB_1514 = Column(Integer)
    BB_1515 = Column(Integer)
    BB_1516 = Column(Integer)
    BB_1517 = Column(Integer)
    BB_1518 = Column(Integer)
    BB_1519 = Column(Integer)
    BB_1521 = Column(Integer)
    BB_1524 = Column(Integer)
    BB_1526 = Column(Integer)
    BB_1527 = Column(Integer)
    BB_1530 = Column(Integer)
    BB_1531 = Column(Integer)
    BB_1532 = Column(Integer)
    BB_1533 = Column(Integer)
    BB_1534 = Column(Integer)
    BB_1535 = Column(Integer)
    BB_1536 = Column(Integer)
    BB_1537 = Column(Integer)
    BB_1539 = Column(Integer)
    BB_1540 = Column(Integer)
    BB_1541 = Column(Integer)
    BB_1542 = Column(Integer)
    BB_1543 = Column(Integer)
    BB_1544 = Column(Integer)
    BB_1545 = Column(Integer)
    BB_1546 = Column(Integer)
    BB_1547 = Column(Integer)
    BB_1548 = Column(Integer)
    BB_1549 = Column(Integer)
    BB_1550 = Column(Integer)
    BB_1551 = Column(Integer)
    BB_1552 = Column(Integer)
    BB_1553 = Column(Integer)
    BB_1554 = Column(Integer)
    BB_1555 = Column(Integer)
    BB_1556 = Column(Integer)
    BB_1557 = Column(Integer)
    BB_1558 = Column(Integer)
    BB_1561 = Column(Integer)
    BB_1562 = Column(Integer)
    BB_1563 = Column(Integer)
    BB_1564 = Column(Integer)
    BB_1572 = Column(Integer)
    BB_1573 = Column(Integer)
    BB_1574 = Column(Integer)
    BB_1576 = Column(Integer)
    BB_1577 = Column(Integer)
    BB_1581 = Column(Integer)
    BB_1601 = Column(Integer)
    
    def __repr__(self):
        return f"id={self.otu_id}"

In [9]:
# create a "metadata" layer that abstracts our SQL Database
Base.metadata.create_all(engine)
engine.table_names()

['otu', 'samples', 'samples_metadata']

In [10]:
# create objects for the following csv's
metadatacsv = 'belly_button_biodiversity_metadata.csv'
otucsv = 'belly_button_biodiversity_otu_id.csv'
samplescsv = 'belly_button_biodiversity_samples.csv'

In [11]:
# read metadatacsv into pandas
meta_df = pd.read_csv(metadatacsv, dtype=object)
meta_df.head()
meta_df.shape

otu_df = pd.read_csv(otucsv, dtype=object)
otu_df.head()
otu_df.shape

sample_df = pd.read_csv(samplescsv, dtype=object)
sample_df.head()
sample_df.shape

  SAMPLEID                      EVENT              ETHNICITY GENDER AGE WFREQ BBTYPE         LOCATION COUNTRY012 ZIP012 COUNTRY1319 ZIP1319  DOG  CAT IMPSURFACE013       NPP013 MMAXTEMP013 PFC013 IMPSURFACE1319 NPP1319 MMAXTEMP1319 PFC1319
0      940  BellyButtonsScienceOnline              Caucasian      F  24     2      I      Beaufort/NC        usa  22306         usa   22306   no   no          8852  37.17222214        54.5    NaN              1     NaN  33.99000168    25.5
1      941                        NaN  Caucasian/Midleastern      F  34     1      I       Chicago/IL        NaN    NaN         NaN     NaN  NaN  NaN           NaN          NaN         NaN    NaN            NaN     NaN          NaN     NaN
2      943  BellyButtonsScienceOnline              Caucasian      F  49     1      I         Omaha/NE        NaN    NaN         NaN     NaN  NaN  NaN           NaN          NaN         NaN    NaN            NaN     NaN          NaN     NaN
3      944  BellyButtonsScienceOnline               European      M  44     1      I      NewHaven/CT        usa   7079         usa    8822   no  yes           NaN  35.81666565          16    NaN              0    6567  32.40333176    28.5
4      945  BellyButtonsScienceOnline              Caucasian      F  48     1      I  Philidelphia/PA        usa  84404         usa   96025   no   no           NaN  37.78333282           4    NaN              0    5613  33.63444519      24

(153, 22)

  otu_id                        lowest_taxonomic_unit_found
0      1  Archaea;Euryarchaeota;Halobacteria;Halobacteri...
1      2  Archaea;Euryarchaeota;Halobacteria;Halobacteri...
2      3  Archaea;Euryarchaeota;Halobacteria;Halobacteri...
3      4  Archaea;Euryarchaeota;Methanobacteria;Methanob...
4      5  Archaea;Euryarchaeota;Methanobacteria;Methanob...

(3674, 2)

  otu_id BB_940 BB_941 BB_943 BB_944 BB_945 BB_946 BB_947 BB_948 BB_949 BB_950 BB_952 BB_953 BB_954 BB_955 BB_956 BB_958 BB_959 BB_960 BB_961 BB_962 BB_963 BB_964 BB_966 BB_967 BB_968 BB_969 BB_970 BB_971 BB_972 BB_973 BB_974 BB_975 BB_978 BB_1233 BB_1234 BB_1235 BB_1236 BB_1237 BB_1238 BB_1242 BB_1243 BB_1246 BB_1253 BB_1254 BB_1258 BB_1259 BB_1260 BB_1264 BB_1265   ...   BB_1513 BB_1514 BB_1515 BB_1516 BB_1517 BB_1518 BB_1519 BB_1521 BB_1524 BB_1526 BB_1527 BB_1530 BB_1531 BB_1532 BB_1533 BB_1534 BB_1535 BB_1536 BB_1537 BB_1539 BB_1540 BB_1541 BB_1542 BB_1543 BB_1544 BB_1545 BB_1546 BB_1547 BB_1548 BB_1549 BB_1550 BB_1551 BB_1552 BB_1553 BB_1554 BB_1555 BB_1556 BB_1557 BB_1558 BB_1561 BB_1562 BB_1563 BB_1564 BB_1572 BB_1573 BB_1574 BB_1576 BB_1577 BB_1581 BB_1601
0      1      0      0      0      0      0      0      0      0      0      0      0      0      0      0      0      0      0      0      0      0      0      0      1      0      0      0      0      0      0      0      0      0      0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0   ...         0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0
1      2      0      0      0      0      0      0      0      0      0      0      0      0      0      0      0      0      0      0      0      0      0      0      4      0      0      0      0      0      0      0      0      0      0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0   ...         0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0
2      3      0      0      0      0      0      0      0      0      0      0      0      0      0      0      0      0      0      0      0      0      0      0      0      0      0      0      0      0      0      0      0      0      0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0   ...         0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0
3      4      0      0      0      0      0      0      0      0      0      0      0      0      0      0      0      0      0      0      0      0      0      0      0      0      0      0      0      0      0      0      0      0      0       0       0       0       0       0       0       0       0       0       0       0       0       0       1       0       7   ...         0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0
4      5      0      0      0      0      0      0      0      0      0      0      0      0      0      0      0      0      0      0      0      0      0      0      0      0      0      0      0      0      0      0      0      0      0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0   ...         0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0

[5 rows x 154 columns]

(3674, 154)

In [12]:
# write function to populate table
def populate_table(engine, table, csvfile):
    """Populates a table from a Pandas DataFrame."""
    # connect to the database
    conn = engine.connect()
    
    # Load the CSV file into a pandas dataframe 
    df_of_data_to_insert = pd.read_csv(csvfile)
    
    # Orient='records' creates a list of data to write
    # http://pandas-docs.github.io/pandas-docs-travis/io.html#orient-options
    data = df_of_data_to_insert.to_dict(orient='records')
    print(data[:1])

    # Optional: Delete all rows in the table 
    conn.execute(table.delete())

    # Insert the dataframe into the database in one bulk insert
    conn.execute(table.insert(), data)
    
# Call the function to insert the data for each table
populate_table(engine, Samples_Metadata.__table__, metadatacsv)
populate_table(engine, OTU.__table__, otucsv)
populate_table(engine, Samples.__table__, samplescsv)

[{'SAMPLEID': 940, 'EVENT': 'BellyButtonsScienceOnline', 'ETHNICITY': 'Caucasian', 'GENDER': 'F', 'AGE': 24.0, 'WFREQ': 2.0, 'BBTYPE': 'I', 'LOCATION': 'Beaufort/NC', 'COUNTRY012': 'usa', 'ZIP012': '22306', 'COUNTRY1319': 'usa', 'ZIP1319': '22306', 'DOG': 'no', 'CAT': 'no', 'IMPSURFACE013': 8852.0, 'NPP013': 37.17222214, 'MMAXTEMP013': 54.5, 'PFC013': nan, 'IMPSURFACE1319': '1', 'NPP1319': nan, 'MMAXTEMP1319': 33.99000168, 'PFC1319': 25.5}]
[{'otu_id': 1, 'lowest_taxonomic_unit_found': 'Archaea;Euryarchaeota;Halobacteria;Halobacteriales;Halobacteriaceae;Halococcus'}]
[{'otu_id': 1.0, 'BB_940': 0.0, 'BB_941': 0.0, 'BB_943': 0.0, 'BB_944': 0.0, 'BB_945': 0.0, 'BB_946': 0.0, 'BB_947': 0.0, 'BB_948': 0.0, 'BB_949': 0.0, 'BB_950': 0.0, 'BB_952': 0.0, 'BB_953': 0.0, 'BB_954': 0.0, 'BB_955': 0.0, 'BB_956': 0.0, 'BB_958': 0.0, 'BB_959': 0.0, 'BB_960': 0.0, 'BB_961': 0.0, 'BB_962': 0.0, 'BB_963': 0.0, 'BB_964': 0.0, 'BB_966': 1.0, 'BB_967': 0.0, 'BB_968': 0.0, 'BB_969': 0.0, 'BB_970': 0.0, 'BB_971': 0.0, 'BB_972': 0.0, 'BB_973': 0.0, 'BB_974': 0.0, 'BB_975': 0.0, 'BB_978': 0.0, 'BB_1233': 0.0, 'BB_1234': 0.0, 'BB_1235': 0.0, 'BB_1236': 0.0, 'BB_1237': 0.0, 'BB_1238': 0.0, 'BB_1242': 0.0, 'BB_1243': 0.0, 'BB_1246': 0.0, 'BB_1253': 0.0, 'BB_1254': 0.0, 'BB_1258': 0.0, 'BB_1259': 0.0, 'BB_1260': 0.0, 'BB_1264': 0.0, 'BB_1265': 0.0, 'BB_1273': 0.0, 'BB_1275': 0.0, 'BB_1276': 0.0, 'BB_1277': 0.0, 'BB_1278': 0.0, 'BB_1279': 0.0, 'BB_1280': 0.0, 'BB_1281': 0.0, 'BB_1282': 0.0, 'BB_1283': 0.0, 'BB_1284': 0.0, 'BB_1285': 0.0, 'BB_1286': nan, 'BB_1287': 0.0, 'BB_1288': 0.0, 'BB_1289': 0.0, 'BB_1290': 0.0, 'BB_1291': 0.0, 'BB_1292': 0.0, 'BB_1293': 0.0, 'BB_1294': 0.0, 'BB_1295': 0.0, 'BB_1296': 0.0, 'BB_1297': 0.0, 'BB_1298': 0.0, 'BB_1308': 0.0, 'BB_1309': 0.0, 'BB_1310': 0.0, 'BB_1374': 0.0, 'BB_1415': 0.0, 'BB_1439': 0.0, 'BB_1441': 0.0, 'BB_1443': 0.0, 'BB_1486': 0.0, 'BB_1487': 0.0, 'BB_1489': 0.0, 'BB_1490': 0.0, 'BB_1491': 0.0, 'BB_1494': 0.0, 'BB_1495': 0.0, 'BB_1497': 0.0, 'BB_1499': 0.0, 'BB_1500': 0.0, 'BB_1501': 0.0, 'BB_1502': 0.0, 'BB_1503': 0.0, 'BB_1504': 0.0, 'BB_1505': 0.0, 'BB_1506': 0.0, 'BB_1507': 0.0, 'BB_1508': 0.0, 'BB_1510': 0.0, 'BB_1511': 0.0, 'BB_1512': 0.0, 'BB_1513': 0.0, 'BB_1514': 0.0, 'BB_1515': 0.0, 'BB_1516': 0.0, 'BB_1517': 0.0, 'BB_1518': 0.0, 'BB_1519': 0.0, 'BB_1521': 0.0, 'BB_1524': 0.0, 'BB_1526': 0.0, 'BB_1527': 0.0, 'BB_1530': 0.0, 'BB_1531': 0.0, 'BB_1532': 0.0, 'BB_1533': 0.0, 'BB_1534': 0.0, 'BB_1535': 0.0, 'BB_1536': 0.0, 'BB_1537': 0.0, 'BB_1539': 0.0, 'BB_1540': 0.0, 'BB_1541': 0.0, 'BB_1542': 0.0, 'BB_1543': 0.0, 'BB_1544': 0.0, 'BB_1545': 0.0, 'BB_1546': 0.0, 'BB_1547': 0.0, 'BB_1548': 0.0, 'BB_1549': 0.0, 'BB_1550': 0.0, 'BB_1551': 0.0, 'BB_1552': 0.0, 'BB_1553': 0.0, 'BB_1554': 0.0, 'BB_1555': 0.0, 'BB_1556': 0.0, 'BB_1557': 0.0, 'BB_1558': 0.0, 'BB_1561': 0.0, 'BB_1562': 0.0, 'BB_1563': 0.0, 'BB_1564': 0.0, 'BB_1572': 0.0, 'BB_1573': 0.0, 'BB_1574': 0.0, 'BB_1576': 0.0, 'BB_1577': 0.0, 'BB_1581': 0.0, 'BB_1601': 0.0}]

In [13]:
metadatacsv

'belly_button_biodiversity_metadata.csv'

In [14]:
# check to see if data was added to table
engine.execute("SELECT * FROM samples_metadata LIMIT 1").fetchall()

[(940, 'BellyButtonsScienceOnline', 'Caucasian', 'F', 24, 2, 'I', 'Beaufort/NC', 'usa', 22306, 'usa', 22306, 'no', 'no', 8852, 37.17222214, 54.5, None, 1, None, 33.99000168, 25.5)]

In [15]:
engine.execute("SELECT * FROM otu LIMIT 1").fetchall()

[(1, 'Archaea;Euryarchaeota;Halobacteria;Halobacteriales;Halobacteriaceae;Halococcus')]

In [16]:
engine.execute("SELECT * FROM samples LIMIT 1").fetchall()

[(1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, None, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)]

In [ ]:
# pandas - get list of column names from sample